# Python
WecOptTool.egg-info
*__pycache__*

# PyPI
dist/

# Sphinx
docs/source/_examples
docs/source/api_docs
docs/pages/

# Tutorials results
results*

# Jupyter notebooks
*/.ipynb_checkpoints/*
/examples/FOSWEC_M4E/WEC-Sim/slprj
*.asv
*.log
*.slxc
*.autosave
/examples/FOSWEC_M4E/WEC-Sim/output
